rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /boards/{boardId}/kids/{kidId}/{filename} {
      allow read: if request.auth != null
        && firestore.get(/databases/(default)/documents/boards/$(boardId)).data.memberIds.hasAny([request.auth.uid]);
      allow write: if request.auth != null
        && firestore.get(/databases/(default)/documents/boards/$(boardId)).data.memberIds.hasAny([request.auth.uid])
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
